_ReSharper
mscorlib.pdb
pingme.txt
.vs
*~
/obj/
/bin/
/packages/
.user
.suo
.Publish.xml
net/JPPolIdProvider/brandings
/php/OpenID/example/openid_store
bin
obj
*.suo
packages
*.user
*.orig
*.swp
~*.docx
*.tmp
net/PolitikenSSO.sln.ide/
App_Data
