<ul>
    @if (Request.IsAuthenticated)
    {

        <li>@Html.ActionLink(User.Identity.Name, "Status", "Account", routeValues: null, htmlAttributes: new { @class = "username", title = "Manage" })</li>
        <li>
            @using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm" }))
            {
                @Html.AntiForgeryToken()
                <a id="logoffLink" href="javascript:document.getElementById('logoutForm').submit()">Log off</a>
            }
        </li>

    }
    else
    {
        <li>@Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
    }
    <li>@Html.ActionLink("Reset auto login", "ResetAutoLogin", "Account", routeValues: null, htmlAttributes: new { id = "resetAutoLogin" })</li>
</ul>