@{
    ViewBag.Title = "Medielogin login example";
}
@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>@ViewBag.Title.</h1>
                <h2>@ViewBag.Message</h2>
            </hgroup>
            <p>
                This is not a reference implementation of the Medielogin flows with regard to the technical implementation. But it 
                should provide a showcase of the flows and connection between a client (this site) and the forms located at http://medielogin.dk
            </p>
        </div>
    </section>
}
<h3>It has the following purposes:</h3>
<ol class="round">
    <li class="one">
        <h5>Demonstration</h5>
        It should simply show the flow. 
    </li>

    <li class="two">
        <h5>Integration testing</h5>
        Automated flows can use these pages to ensure interconnection with a third party app.
    </li>

    <li class="three">
    </li>
</ol>
